**Alunos: Eduardo da Maia Haak, Lukas Thiago Rodrigues**

Acontece que já havíamos feito uma análise do dataset e determinamos que alguns dos passos orientados pelo professor não se aplicavam a este caso, mas aqui estão os passos que decidimos implementar:

**Passo 1 - Importar o Dataset diretamente do Kaggle**

Talvez seja necessário executa-lo multiplas vezes, da primeira vez que é executado a biblioteca do kagglehub acusa estar desatualizado e por isso não executa corretamente. Se o output for 'Dataset baixado em: /kaggle/input/pokemon', então ele foi executado corretamente.

In [2]:
import kagglehub

# Baixar o dataset
path = kagglehub.dataset_download("rounakbanik/pokemon")

# Output
print(f"Dataset baixado em: {path}")

c:\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rounakbanik/pokemon?dataset_version_number=1...

100%|██████████| 46.6k/46.6k [00:00<00:00, 323kB/s]

Extracting files...
Dataset baixado em: C:\Users\lukas\.cache\kagglehub\datasets\rounakbanik\pokemon\versions\1

**Passo 2 - Carregando e Inspecionando os Dados**

Feito baseado nas instruções do professor, mesmo que já tenhamos inspecionado o dataset anteriormente fora do colab.

In [6]:
import pandas as pd

path = "../data/pokemon.csv"
df = pd.read_csv(path)

print("\n--- Primeiras 5 linhas ---\n")
df.head()

print("\n--- Informações gerais ---\n")
df.info()

print("\n--- Estatísticas descritivas ---\n")
display(df.describe())

--- Primeiras 5 linhas ---


--- Informações gerais ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

--- Estatísticas descritivas ---

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,height_m,hp,percentage_male,pokedex_number,sp_attack,sp_defense,speed,weight_kg,generation,is_legendary
count,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,801.000000,...,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,801.000000,781.000000,801.000000,801.000000
mean,0.996255,1.057116,0.968789,1.073970,1.068976,1.065543,1.135456,1.192884,0.985019,1.034020,...,1.163892,68.958801,55.155761,401.000000,71.305868,70.911361,66.334582,61.378105,3.690387,0.087391
std,0.597248,0.438142,0.353058,0.654962,0.522167,0.717251,0.691853,0.604488,0.558256,0.788896,...,1.080326,26.576015,20.261623,231.373075,32.353826,27.942501,28.907662,109.354766,1.930420,0.282583
min,0.250000,0.250000,0.000000,0.000000,0.250000,0.000000,0.250000,0.250000,0.000000,0.250000,...,0.100000,1.000000,0.000000,1.000000,10.000000,20.000000,5.000000,0.100000,1.000000,0.000000
25%,0.500000,1.000000,1.000000,0.500000,1.000000,0.500000,0.500000,1.000000,1.000000,0.500000,...,0.600000,50.000000,50.000000,201.000000,45.000000,50.000000,45.000000,9.000000,2.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,65.000000,50.000000,401.000000,65.000000,66.000000,65.000000,27.300000,4.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,...,1.500000,80.000000,50.000000,601.000000,91.000000,90.000000,85.000000,64.800000,5.000000,0.000000
max,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,14.500000,255.000000,100.000000,801.000000,194.000000,230.000000,180.000000,999.900000,7.000000,1.000000

**Passo 3 - Removendo colunas**

Nesse bloco de código decidimos remover as colunas que a gente não irá utilizar, deixando apenas as necessárias. Depois de remover as colunas, o arquivo novo é salvo.

In [7]:
import pandas as pd

# Importação do arquivo
path = "../data/pokemon.csv"
df = pd.read_csv(path)

# Seleção das colunas para remover
columnsToRemove = [
    'abilities','against_bug','against_dark','against_dragon','against_electric',
    'against_fairy','against_fight','against_fire','against_flying','against_ghost',
    'against_grass','against_ground','against_ice','against_normal','against_poison',
    'against_psychic','against_rock','against_steel','against_water','base_egg_steps',
    'base_happiness','classfication','height_m','japanese_name','percentage_male','weight_kg'
]

# Remoção das colunas
df = df.drop(columns=columnsToRemove)

# Salva o arquivo novo
df.to_csv('pokemon_limpo.csv', index=False)

df.head()

,attack,base_total,capture_rate,defense,experience_growth,hp,name,pokedex_number,sp_attack,sp_defense,speed,type1,type2,generation,is_legendary
0,49,318,45,49,1059860,45,Bulbasaur,1,65,65,45,grass,poison,1,0
1,62,405,45,63,1059860,60,Ivysaur,2,80,80,60,grass,poison,1,0
2,100,625,45,123,1059860,80,Venusaur,3,122,120,80,grass,poison,1,0
3,52,309,45,43,1059860,39,Charmander,4,60,50,65,fire,NaN,1,0
4,64,405,45,58,1059860,58,Charmeleon,5,80,65,80,fire,NaN,1,0

**Passo 4 - Corrigindo o pokémon "Minior"**

Identificamos que o pokémon "Minior" tinha 2 valores diferentes na coluna "capture_rate", um valor para cada forma. Então, filtramos por esse pokémon, duplicamos a linha, criamos uma nova coluna chamada "form", onde terá valor preenchido caso o pokémon tenha uma forma alternativa.
Atribuímos os valores corretos para cada forma e então adicionamos novamente ao dataset.

In [8]:
import pandas as pd

df = pd.read_csv('../data/pokemon_limpo.csv')

# Seleciona o pokemon "minior" e cria duas cópias da linha
minior_row = df[df['name'].str.lower() == 'minior']

minior_meteor = minior_row.copy()
minior_core = minior_row.copy()

# Adiciona a informação correta da capture_rate e cria a coluna form
minior_meteor['form'] = 'meteor'
minior_meteor['capture_rate'] = 30

minior_core['form'] = 'core'
minior_core['capture_rate'] = 255

# Remove a linha original do dataset
df = df[df['name'].str.lower() != 'minior']

# Preenche com nada nos outros pokemons
if 'form' not in df.columns:
    df['form'] = None

# Adiciona as novas linhas no dataset original
df = pd.concat([df, minior_meteor, minior_core], ignore_index=True)

# Salva o novo arquivo
df.to_csv('pokemon_corrigido.csv', index=False)

**Passo 5 - Corrigindo os pokémon com variações**

Diversos Pokémon possuem variações de formas. Acontece que o Dataset original não lida muito bem com isso, então decidimos fazer um script robusto para incrementar o dataset com todas as variações, desde que elas apresentam alguma mudança em questão dos stats e tipos. Ele demora uns 6 minutos pra rodar, mas funciona, e é importante ter essas variações pois elas são valiosas para o balanceamento do jogo nas gerações 7 para cima, e já teríamos que concertar esses pokémon no dataset de qualquer jeito.

In [9]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import sys
import time
import pandas as pd
import requests

API_BASE = "https://pokeapi.co/api/v2"
SESSION = requests.Session()

# [1] Funções

# Faz uma requisição GET para a URL e retorna o conteúdo JSON.
def fetch_json(url):
    r = SESSION.get(url, timeout=30)
    r.raise_for_status()
    return r.json()

# Busca dados de uma espécie de Pokémon pelo ID na PokeAPI.
def get_species(species_id):
    return fetch_json(f"{API_BASE}/pokemon-species/{species_id}/")

# Busca dados de um Pokémon. Pode receber o nome do Pokémon ou uma URL completa.
def get_pokemon(name_or_url):
    if name_or_url.startswith("http"):
        url = name_or_url
    else:
        url = f"{API_BASE}/pokemon/{name_or_url}/"
    return fetch_json(url)

# Converte a taxa de crescimento do Pokémon para a experiência necessária para atingir nível 100.
def xp_to_level_100(growth_rate_name):
    mapping = {
        "slow": 1250000,
        "medium": 1000000,
        "fast": 800000,
        "medium-slow": 1059860,
        "slow-then-very-fast": 600000,
        "fast-then-very-slow": 1640000,
    }
    return mapping.get(growth_rate_name, 1000000)

# Converte o nome da geração da PokeAPI em um número inteiro.
def generation_number(gen_name):
    mapping = {
        "generation-i": 1,
        "generation-ii": 2,
        "generation-iii": 3,
        "generation-iv": 4,
        "generation-v": 5,
        "generation-vi": 6,
        "generation-vii": 7,
        "generation-viii": 8,
        "generation-ix": 9,
    }
    return mapping.get(gen_name)

# Extrai os stats base de um Pokémon do JSON retornado pela API. Retorna um dicionário com hp, attack, defense, sp_attack, sp_defense, speed e base_total.
def extract_stats(poke_json):
    wanted = {
        "hp": "hp",
        "attack": "attack",
        "defense": "defense",
        "special-attack": "sp_attack",
        "special-defense": "sp_defense",
        "speed": "speed",
    }
    stats = {v: 0 for v in wanted.values()}
    for s in poke_json["stats"]:
        name = s["stat"]["name"]
        if name in wanted:
            stats[wanted[name]] = int(s["base_stat"])
    stats["base_total"] = sum(stats.values())
    return stats

# Extrai os tipos de um Pokémon do JSON retornado pela API. Retorna um dicionário com type1 e type2 (ou None se não houver segundo tipo).
def extract_types(poke_json):
    slots = sorted(poke_json["types"], key=lambda t: t["slot"])
    t1 = slots[0]["type"]["name"] if len(slots) > 0 else None
    t2 = slots[1]["type"]["name"] if len(slots) > 1 else None
    return {"type1": t1, "type2": t2}

# Verifica se dois dicionários de stats e tipos são iguais. Útil para identificar variações cosméticas de um Pokémon.
def same_stats_and_types(a, b):
    stat_keys = ["hp","attack","defense","sp_attack","sp_defense","speed"]
    type_keys = ["type1","type2"]
    return all(a.get(k) == b.get(k) for k in stat_keys + type_keys)

# Gera o nome da forma do Pokémon, se houver. Se for a forma padrão, retorna None.
def form_name(species_slug, variant_slug, default=False):
    if default:
        return None
    if variant_slug.startswith(species_slug):
        suffix = variant_slug[len(species_slug):].lstrip("-")
    else:
        suffix = variant_slug
    if not suffix:
        return None
    return suffix.capitalize()

# [2] Main

"""
Recebe um DataFrame com Pokémon e enriquece os dados usando a PokeAPI.
Inclui stats, tipos, geração, captura, experiência e formas alternativas.
sleep_between: tempo de espera entre chamadas à API para não sobrecarregar o servidor.
"""
def enrich_with_pokeapi(df, sleep_between=0.0):
    df = df.copy()
    all_new_rows = []

    # Itera por cada Pokémon único no DataFrame
    for species_id in df["pokedex_number"].unique():
        try:
            species = get_species(int(species_id))
        except Exception as e:
            print(f"Erro ao buscar species {species_id}: {e}")
            continue

        # Informações gerais
        capture_rate = species.get("capture_rate")
        growth_rate = species.get("growth_rate", {}).get("name", "medium")
        exp_growth = xp_to_level_100(growth_rate)
        generation = generation_number(species.get("generation", {}).get("name", ""))
        is_legendary = 1 if species.get("is_legendary", False) else 0

        # Base row do Pokémon
        base_idx = df.index[df["pokedex_number"] == species_id][0]
        base_row = df.loc[base_idx].to_dict()
        base_name = base_row["name"]
        species_slug = species["name"]

        varieties = species.get("varieties", [])
        default_var = next((v for v in varieties if v["is_default"]), None)
        if not default_var:
            continue

        # Corrige stats e tipos da forma padrão
        default_poke = get_pokemon(default_var["pokemon"]["name"])
        stats = extract_stats(default_poke)
        types = extract_types(default_poke)
        for k,v in {**stats, **types}.items():
            base_row[k] = v
        base_row["capture_rate"] = capture_rate
        base_row["experience_growth"] = exp_growth
        base_row["generation"] = generation
        base_row["is_legendary"] = is_legendary
        base_row["form"] = None
        df.loc[base_idx] = base_row
        base_compare = {**stats, **types}

        # Processa variações não-padrão
        for var in varieties:
            poke_name = var["pokemon"]["name"]
            if var["is_default"]:
                continue
            poke_data = get_pokemon(poke_name)
            var_stats = extract_stats(poke_data)
            var_types = extract_types(poke_data)

            # Ignora variações cosméticas
            if same_stats_and_types(var_stats, base_compare):
                continue

            # Popula a new_row com as novas informações
            new_row = base_row.copy()
            new_row.update(var_stats)
            new_row.update(var_types)
            new_row["capture_rate"] = capture_rate
            new_row["experience_growth"] = exp_growth
            new_row["generation"] = generation
            new_row["is_legendary"] = is_legendary

            # Decide nome e forma
            if poke_data["species"]["name"] != species_slug:
                new_row["name"] = poke_data["name"].capitalize()
                new_row["form"] = None
            else:
                new_row["name"] = base_name
                new_row["form"] = form_name(species_slug, poke_data["name"])

            all_new_rows.append(new_row)

            if sleep_between > 0:
                time.sleep(sleep_between)

    # Combina DataFrame original com novas linhas
    return pd.concat([df, pd.DataFrame(all_new_rows)], ignore_index=True)

# [3] CLI

# Ponto de entrada principal.
def main():
    # Detecta se está rodando em Jupyter/Colab ou terminal.
    # Lê CSV de entrada, processa dados e salva CSV final.
    if "ipykernel" in sys.modules:
        class Args:
            input = "../data/pokemon_corrigido.csv"
            output = "../data/pokemon_finalizado.csv"
            sleep = 0.0
        args = Args()
    else:
        import argparse
        parser = argparse.ArgumentParser()
        parser.add_argument("--input","-i",default="pokemon_corrigido.csv")
        parser.add_argument("--output","-o",default="pokemon_finalizado.csv")
        parser.add_argument("--sleep",type=float,default=0.0)
        args = parser.parse_args()

    # Leitura do CSV de entrada
    df = pd.read_csv(args.input)

    # Processamento e enriquecimento via PokeAPI
    out = enrich_with_pokeapi(df, sleep_between=args.sleep)

    # Salva o CSV final
    out.to_csv(args.output,index=False)
    print(f"Salvo em {args.output} (linhas: {len(out)})")

if __name__=="__main__":
    main()

Salvo em ../data/pokemon_finalizado.csv (linhas: 1044)